.ForecastCard{
    background-color: azure;
    color: darkgrey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.WeatherForecast{
    max-width: 500px;
}
