.App {
  text-align: center;
}

.AppHeader {
  border: 2px dotted grey;
  background-color: lightblue;
  color: azure;
  font-size: x-large;
}

.AppBody{
  border: 2px dotted grey;
  background-color: lightblue;
  height:  100vh;
  color: azure;

}



