.App {
  text-align: center;
}

.AppHeader {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.AppBody{
  height:  100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}



