.App {
  text-align: center;
}

.AppHeader {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.AppBody{
  height:  100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center

}

.Footer{
  display:flex;
  flex-direction:row;
  position:absolute;
  top:80%;
  width: 100%;
  align-items:center;
  justify-content:space-between;
}

.Headline{
  color: #3c4345;
  font-weight: lighter;
}


