.DarkLight{
    color: #3c4345;
    font-weight: lighter;
  }

.DarkBold{
    font-weight: bolder;
    color:#3c4345
}

.Dark{
    color:#3c4345
}

.NegativeCelcius{
    color: rgb(0, 109, 226);
}

.PositiveCelsius{
    color: rgb(180, 2, 2);
}